[00:00:00]
>> Maximiliano Firtman: Now we have kind of an app, okay, it's kind of installable on iOS. We see it's installable on desktop, is it installable? Is it passing the PWA criteria or not, what do you think? Let me close it.
>> Female Speaker: Yes.
>> Maximiliano Firtman: Yes or no? We have a yes.

[00:00:21]

>> Male Speaker: Yes.
>> Maximiliano Firtman: Yes, how do you know that?
>> Male Speaker: It's giving us the icon there.
>> Maximiliano Firtman: We have this badge here, but it's not offline. No, because now it's not mandatory. So again, 99% of the web will tell you that the service worker is mandatory for passing the PWA criteria.

[00:00:40]
But you're here at Frontend Masters, and you're getting the good stuff, and I can tell you that that's not a requirement anymore. And no one is updating those articles, by the way, not even Google, not even Google on their own documentation. So now you don't need to be offline capable, it's already passing the criteria, I can install my app.

[00:01:02]
Let's do that, so I will install, you can also do that on your computers. So if I install my app now, now I have my Code Masters app running on my Mac. Of course I can decrease the font size. I think any size would work, I think that a small widget looks pretty cool.

[00:01:23]
For example, here you can say, I have codepad master twice, well, maybe using the other display type, we can move this. We can move this to the top and replace the title with that, so you can gain some space. Well, from now on, you can start playing with this, until you are happy, okay, but of course, it works, okay?

[00:01:44]
But I already have a Mac application, a Windows application, a Linux application, a Chromebook application, an iOS application, also an Android application. Just because I have a manifest with some icons, some metadata, that's desktop, okay? On mobile, it's a different story, so because implementation and operating systems, they work differently.

[00:02:06]
But on desktop, I think it's pretty cool, you can go.

