[00:00:00]
>> All right, so document and content requirements. This is probably the single most important tool that a content strategist can use to hand off to a designer, or a developer, or a stakeholder who is going to be responsible for creating content. So this is an extension of the wire frame that is gonna provide more specific details to subject matter experts, stakeholders, and writers.

[00:00:31]
You're going to wanna include directional and content and messaging, you use it to get alignment on page contents. It gives writers the context they need. It lets stakeholders let go of the words if we're asking them to fill it out and it can be built to fit your process.

[00:00:45]
So, but I'm gonna read these two at the left because I'm not sure if you guys can see them, but this is it. Some people can look at this like an annotated wireframe. But this is really less about like specific component requirements and more about really defining and getting out the substance of content, either within the page or the application or product, okay?

[00:01:10]
So we have page title. If there is an associated template, we want to call that out specifically so we know what the components are that are required for the content. Want to make sure that the meta title or description is in there if the writer is responsible for it, primary user story and this is where we say I want as a blank.

[00:01:31]
I want this so that I can blank, okay? So as a mom, I want to check my daughter's symptoms so that I can decide whether or not I need to call the doctor, for example, okay? So that's our primary user story. Any key questions that the user may have, like, is this life threatening?

[00:01:56]
Should I call the doctor? Are there home remedies that I can try to alleviate these symptoms, for example? Any proof points that we want to include, as we discussed in the content specifically and then priority pieces of content. What are key here, okay? So for example, a priority piece of content in this scenario I provided might be, if you're experiencing an emergency, please call 911, right?

[00:02:26]
Or it might be, call a doctor, let's see. You don't necessarily want to say these symptoms might be cancer. [LAUGH] Right? You might want to say these symptoms are most often related to a virus or just strep throat or whatever, that you want to put that first before you would go into here are the other 42 possible things that this could be.

[00:02:54]
Who is your content or owner? How often does this need to be taken care of? And what questions does the content strategist or designer have? That needs to be considered, okay? So this is an incredibly valuable tool to introduce into any designer build process. So no matter what your role is, hand this off to your designer, hand this off to your project manager, hand this off to a subject matter expert.

[00:03:17]
And just say how might we incorporate this to better sort of streamline and focus our content? Okay? It's lovely.

