[00:00:00]
>> Nina Zakharenko: Okay, a few requirements. So these are mandatory prerequisites for successfully participating in this course. You should have all done them before the course. You're gonna need a Linux, Mac OS, or Windows 10 machine. We're gonna be working exclusively with Python 3.7, so you're gonna need the latest version.

[00:00:18]
I'm gonna be using the Visual Studio code IDE, as well as the Python extension for that IDE. There are few additional instructions for Windows users here, in setting the execution policy. If you close this Powershell Window, I recommend opening it up again because we will be using that for the first few sections.

[00:00:41]

>> Nina Zakharenko: Everyone is checked for Python 3 on Windows with PY -3.7 or on Mac and Linux you can type python3 --version. We all wanna see version at least 3.71.
>> Student: Yeah, just a quick question about the Python extension for Visual Studio Code.
>> Nina Zakharenko: Yes?
>> Student: Which one is it?

[00:01:03]

>> Nina Zakharenko: It's just the standard Python extension, I'll show it to you real quick. If you go to this, if you open VS code and you click on this square. If you search for extensions and just search for Python, it just this one. There are 34 million downloads so yeah, that's the right one.

[00:01:29]
You could install it from the link that I provided. You can install it from this square extensions tab. Or the first time you open a Python file, if you don't have installed yet, it will give you a tool tab. So I wouldn't worry about grabbing that just yet.

[00:01:46]
Okay, so now that we've all gotten to the same point, what we want to do is create a virtual environment and a project folder. So Linux, Mac, Windows, the instructions are going to be a little bit different here, so I recommend following along from the course website.
>> Nina Zakharenko: Virtual environments in Python, they're like a self contained directory that contains the Python installation for a particular version of Python.

[00:02:14]
It's nice because we don't have to use that py-3, we don't have to call Python 3. Once we set up this virtual environment, our executable will just be Python and it'll point to the right version.
>> Nina Zakharenko: So for Windows, I have instructions here.
>> Nina Zakharenko: Open that same PowerShell terminal from earlier, type in the commands.

[00:02:37]
I recommend looking at these from the course website so that you get them right, but the gist of it is we're going to CD into our home directory. We're going to make a new directory called pie workshop. We're going to enter that directory by CDing into it. And then, on Windows we're going to run this command.

[00:02:59]

>> Nina Zakharenko: And that's going to create a new virtual environment called n. And then we'll activate it this way. Once your virtual environment is successfully activated on windows, it's going to look like this. There's going to be parentheses end in front of your prompt. Every time you close your terminal and you get back into this project folder, you're always gonna want to run this command to activate the virtual environment.

[00:03:29]
Just the very last one. So that while you're working on your Python project, you'll see this end in parenthesis. For Mac and Linux, the instructions are similar but a little bit different. So you're going to CD into your home directory, make the Python workshop folder, make the virtual environment, etc.

[00:03:50]
Again on Mac, you'll see this kind of parenthesis end in your prompt to indicate that the virtual environment is active.
>> Nina Zakharenko: Lastly, everyone sad that they installed VS code already. To double check that in Windows or Mac just type code space dash dash version to make sure that you are on the latest version.

[00:04:26]

>> Nina Zakharenko: Okay, moving on. Talked about VS code a little bit, what is it? Visual Studio code is a free and open source graphical co-editor. It offers plenty of extensions to customize your experience. We're gonna be using the really great Python extension to edit our code. It's jam-packed with a lot of helpful features.

[00:04:48]
As you decide where you wanna go on your Python journey, whether you wanna do web development, AIML, data science. Your tools might change, right? But this is a good starting point for most everybody. To get started with VS Code, I have some links here that you've already followed.

[00:05:11]

>> Nina Zakharenko: For a long time I was a Emax user, right? And I I thought I didn't really need IDEs, but I've learned that there are a few advantages. I've been using VSCode for about a little over a year now and I really like it. Your code editor let's you easily manage projects with multiple files and modules.

[00:05:34]
The Python extension offers a built-in rubble, which we're gonna use. So that we can easily test our snippets of Python code and instantly see the results. Code editors also offer syntax highlighting, syntax checking, auto completion and a lot more. You can also if you're a VI user or an Emacs user, you can download key map extensions to make the keyboard short cuts exactly how you'd expect them.

[00:06:00]
But you also have choices. We're gonna be using VS code for this course, just so that I can show your the ropes it's across the platform, windows, Mac, their instructions are the came. After class, you're free to switch over to any editor of your choice

